//Circle

/*
 * Keyframes
 */


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 1.2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }
  &.is-exiting {
      .scene_element {
        animation-direction: alternate-reverse;
      }
  }

}
